---
import WhatsappButton from "@components/WhatsappButton.astro";
import SectionPrice from "@components/SectionPrice.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Features from "@components/Features";
import Header from "@components/Header.astro";
import Portfolio from "@components/Portfolio.jsx";
import HowItWorks from "@components/HowITWorks";
import Navbar from "@components/Navbar";
---

<Layout title="EmprenDev | Home">
  <main
    class="flex flex-col justify-center items-center w-full bg-transparent dark:bg-zinc-900"
  >
    <Navbar client:load />
    <Header />
    <Features />
    <Portfolio />
    <SectionPrice />
    <HowItWorks />
    <WhatsappButton />
    <Contact />
    <Footer />
  </main>
</Layout>
