---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Navbar from "@components/Navbar";
import SectionPrice from "@components/SectionPrice.astro";
import Proyects from "@components/Proyects.astro";
import WhatsappButton from "@components/WhatsappButton.astro";
import Contact from "@components/Contact.astro";
import Features from "@components/Features.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="EmprenDev | Desarrollo de páginas web">
  <main
    class="flex flex-col justify-center items-center bg-transparent dark:bg-slate-950 w-fit md:w-full"
  >
    <Navbar client:load />
    <Hero />
    <Features />
    <SectionPrice />
    <Proyects
      id="landing"
      url="https://mitienda.empren.dev"
      title="Landing Page"
      img="./mitienda.png"
      img2="./mitienda_phone.png"
      description="Con nuestra Landing Page, tu emprendimiento obtendrá una presencia profesional en internet que te ayudará a impulsar tus ventas y atraer nuevos clientes de manera efectiva. Se trata de una web de una sola página, que te permite captar la atención de tus visitantes de manera más rápida. Puede contener hasta 5 secciones, donde se incluyen imágenes a tu elección, sección para contacto y conexión a tus redes sociales, esto garantiza que tus clientes potenciales puedan conectarse contigo fácilmente y explorar más sobre tu negocio.Compatible con dispositivos móviles, pc, tablets y laptops. Incluye dominio .com.ar por 1 año. Consulta por otras opciones a tu medida"
    />
    <Proyects
      id="website"
      url="https://interiordesign.empren.dev"
      title="Website"
      img="./interior.png"
      img2="./interior_phone.png"
      description="Nuestra Web para negocios, diseñada para destacar tus productos o servicios de manera profesional y atractiva, es una solución integral que te proporciona todas las herramientas que necesitas para impulsar tu negocio en línea. Con un menú interactivo que permite una navegación fluida entre hasta 4 páginas distintas. Destaca tus ofertas y promociones con una sección dedicada en tu sitio web, lo que te permite captar la atención de tus clientes potenciales y fomentar las ventas. Al integrar y conectar tus redes sociales, podrás ampliar tu alcance y llegar a más clientes a través de plataformas como Facebook, Instagram, Twitter y más. Diseño para pc, laptop, tablets y celulares. Incluye dominio .com.ar por 1 año. Consulta por otras opciones a tu medida"
    />
    <WhatsappButton />
    <Contact />
    <Footer />
  </main>
</Layout>
