---
import WhatsappButton from "@components/WhatsappButton.astro";
import SectionPrice from "@components/SectionPrice.astro";
import Contact from "@components/Contact.astro";
import Website from "@components/Website.astro";
import NavMobile from '@components/NavMobile.astro';
import Events from "@components/Events.astro";
import Footer from "@components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Features from "@components/Features"
import Navbar from "@components/Navbar";
import Hero from "@components/Hero";

---

<Layout title="EmprenDev | Desarrollo de sitios web">
  <main
    class="flex flex-col justify-center items-center bg-transparent dark:bg-gradient-to-b dark:from-slate-950 dark:via-slate-900 dark:to-slate-800 w-fit md:w-full"
  >
    <Navbar client:load />
    <NavMobile />
    <Hero client:load />
    <Features />
    <SectionPrice />
    <Events />
    <Website />
    <WhatsappButton />
    <Contact />
    <Footer />
  </main>
</Layout>
