---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero";
import Header from "@components/Header.astro";
import Features from "@components/Features";
import Portfolio from "@components/Portfolio";
import HowItWorks from "@components/HowITWorks";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="EmprenDev | Desarrollo de sitios web">
  <main class="flex flex-col justify-center items-center w-full">
    <Hero client:load />
    <Header />
    <Features client:load />
    <Portfolio />
    <HowItWorks />
    <Contact />
    <Footer />
  </main>
</Layout>
