---
import ContactForm from "./ContactForm";
---

<section
  id="contact"
  class="flex flex-col w-full h-screen justify-center pt-80 pb-12 lg:pb-0 lg:pt-32"
>
  <div class="flex flex-col lg:flex-row mx-auto gap-8 lg:gap-4 md:gap-16">
    <div class="flex lg:flex-col gap-4 lg:gap-8 justify-center items-center">
      <h4 class="text-center text-4xl md:text-6xl dark:text-white">Asesoramiento sin cargo</h4>
      <svg
      class="text-black dark:text-white w-32 h-32"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 48 48"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-linejoin="round"
        stroke-width="4"
      >
        <path
          stroke-linecap="round"
          d="M22 9H11C9.34315 9 8 10.3431 8 12V33H40V22"
        />
        <path
          fill="#2F88FF"
          d="M4 33H44V35C44 38.3137 41.3137 41 38 41H10C6.68629 41 4 38.3137 4 35V33Z"
        />
        <path stroke-linecap="round" d="M33 7L29 11L33 15" />
        <path stroke-linecap="round" d="M39 7L43 11L39 15" />
      </g>
    </svg>
    </div>
    <ContactForm client:load />
  </div>
</section>
