---
import ContactForm from "./ContactForm";
---

<section id="contact" class="w-full py-10 md:py-14 text-white bg-blue-800">
  <div class="container flex flex-col items-center justify-center px-4 mx-auto">
    <div class="py-12">
      <div class="px-6">
        <div class="relative rounded my-12 py-6">
          <div class="mb-12">
            <h2 class="text-3xl leading-none font-bold md:text-[45px] mb-4">
              Consultanos
            </h2>
            <p class="text-lg mb-0">
              Te ayudamos a llevar tu negocio al siguiente nivel.
            </p>
          </div>
          <ContactForm client:load />
        </div>
      </div>
    </div>
  </div>
</section>
