---
import ContactForm from "./ContactForm";
---

<section
  id="contact"
  class="flex flex-col w-full h-screen justify-center pt-96 pb-12 lg:pb-0 md:pt-64 lg:pt-16 border-t border-slate-200 dark:border-slate-700"
>
  <div class="flex flex-col mx-auto gap-8 lg:gap-4 md:gap-16 mt-32 lg:mt-0">
    <h2 class="text-center text-2xl md:text-3xl font-bold dark:text-white">
      Asesoramiento sin cargo
    </h2>
    <ContactForm client:load />
  </div>
</section>
