<div
  id="events"
  class="py-6 sm:py-8 lg:py-12 h-screen mt-96 mb-32 md:mt-64 w-full lg:w-5/6"
>
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 mt-32 lg:mt-0">
    <div class="mb-4 flex items-center justify-center gap-8 sm:mb-8 md:mb-12">
      <div class="flex flex-col lg:flex-row items-center gap-8">
        <h2
          class="text-2xl font-bold text-gray-800 dark:text-slate-100 lg:text-3xl"
        >
          Eventos
        </h2>

        <p class="max-w-screen-sm text-gray-500 dark:text-slate-300 md:block">
          <strong
            class="text-indigo-600 dark:text-indigo-300 font-semibold text-lg"
            >Crea una página web única para tu evento especial.</strong
          >
          <br />
          Con nuestra página web personalizada, tendrás todo lo que necesitas para
          que tu evento sea inolvidable. Ya sea una boda, cumpleaños, aniversario
          o cualquier celebración, te ofrecemos herramientas diseñadas para sorprender
          a tus invitados...
        </p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
      >
        <img
          src="./invitation.webp"
          loading="lazy"
          alt="invitación"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>

        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >RSVP</span
        >
      </div>

      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
      >
        <img
          src="./screen.webp"
          loading="lazy"
          alt="historia"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>

        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Galería de imágenes</span
        >
      </div>
      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
      >
        <img
          src="wedding.webp"
          loading="lazy"
          alt="Home page"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>

        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Home</span
        >
      </div>
      <div
        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
      >
        <img
          src="./place.webp"
          loading="lazy"
          alt="mapa"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>

        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Información</span
        >
      </div>
    </div>
  </div>
  <div class="flex justify-end mt-4 lg:mt-8 mr-4 lg:mr-8">
    <a
      href="https://wedding-nine-delta.vercel.app/"
      target="_blank"
      class="inline-block rounded-lg border bg-indigo-500 px-4 py-3 text-center text-sm font-semibold text-gray-200 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring md:px-8 md:text-base"
      >Visitar web</a
    >
  </div>
</div>
