<div class="pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto w-screen mt-32 lg:mt-0 bg-slate-800 dark:bg-slate-50">
    <div class="flex flex-col items-center border-t pt-6">
      <nav
        class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6"
      >
        <a
          href="#"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Inicio</a
        >
        <a
          href="#features"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Faq</a
        >
        <a
          href="#price"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Precios</a
        >
        <a
          href="#events"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Eventos</a
        >
        <a
          href="#web"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Emprendedores</a
        >
        <a
          href="#contact"
          class="text-gray-100 dark:text-gray-800 font-semibold hover:text-indigo-300 dark:hover:text-indigo-800"
          >Contacto</a
        >
      </nav>
      <div class="flex gap-4">
        <a href="https://www.instagram.com/emprendev2.0" target="_blank" aria-label="enlace a instagram">
          <span
            class="icon-[skill-icons--instagram] h-6 w-6"
            role="img"
            aria-hidden="true"></span></a
        >
        <a href="https://www.linkedin.com/in/arielstereo/" target="_blank" aria-label="enlace a linkedin ">
          <span
            class="icon-[skill-icons--linkedin] h-6 w-6"
            role="img"
            aria-hidden="true"></span>
        </a>
        <a
          href="https://github.com/Arielstereo"
          target="_blank"
          class="text-gray-100 dark:text-gray-800"
          aria-label="enlace a github"
        >
          <span
            class="icon-[simple-icons--github] h-6 w-6"
            role="img"
            aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div class="py-8 text-center text-sm text-slate-100 dark:text-slate-800 font-semibold">
      © 2025 - EmprenDev
    </div>
  </footer>
</div>
