<footer
  class="mx-auto w-full bg-gray-50 dark:bg-zinc-900 border-t border-gray-700 dark:border-gray-100"
>
  <div class="flex flex-col items-center border-t py-12">
    <nav
      class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6"
    >
      <a
        href="#"
        class="text-gray-900 dark:text-gray-200 text-lg font-semibold hover:text-gray-600 dark:hover:text-blue-800"
        >Inicio</a
      >
      <a
        href="#features"
        class="text-gray-900 dark:text-gray-200 text-lg font-semibold hover:text-gray-600 dark:hover:text-blue-800"
        >Faq</a
      >
      <a
        href="#price"
        class="text-gray-900 dark:text-gray-200 text-lg font-semibold hover:text-gray-600 dark:hover:text-blue-800"
        >Precios</a
      >
      <a
        href="#projects"
        class="text-gray-900 dark:text-gray-200 text-lg font-semibold hover:text-gray-600 dark:hover:text-blue-800"
        >Proyectos</a
      >
      <a
        href="#contact"
        class="text-gray-900 dark:text-gray-200 text-lg font-semibold hover:text-gray-600 dark:hover:text-blue-800"
        >Contacto</a
      >
    </nav>
    <div class="flex gap-4 mt-4">
      <a
        href="https://www.instagram.com/emprendev2.0"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="enlace a instagram"
      >
        <span
          class="icon-[skill-icons--instagram] h-8 w-8"
          role="img"
          aria-hidden="true"></span></a
      >
      <a
        href="https://www.linkedin.com/in/arielstereo/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="enlace a linkedin "
      >
        <span
          class="icon-[skill-icons--linkedin] h-8 w-8"
          role="img"
          aria-hidden="true"></span>
      </a>
      <a
        href="mailto:emprendev2.0@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-900 dark:text-gray-100"
        aria-label="enlace a github"
      >
        <span class="icon-[entypo--email] h-8 w-8" role="img" aria-hidden="true"
        ></span>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+5491126922128&text=Hola%20EmprenDev,%20necesito%20asesoramiento:"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Whatsapp boton"
      >
        <span
          class="icon-[logos--whatsapp-icon] h-8 w-8"
          role="img"
          aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div
    class="py-8 text-center text-sm text-slate-900 dark:text-slate-100 font-semibold"
  >
    © 2025 - EmprenDev
  </div>
</footer>
