<section
  class="text-zinc-900 dark:text-white border-y border-black dark:border-gray-200 md:my-32"
>
  <div class="px-4 py-8">
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-8 md:col-start-3 text-center">
        <h2 class="text-3xl md:text-6xl font-bold">
          <div class="gradient-blue">Servicios</div> que transforman
        </h2>
        <p
          class="md:text-lg mt-6 px-8 lg:px-20 text-gray-600 dark:text-gray-300"
        >
          Soluciones diseñadas para impulsar tu negocio y generar resultados
          reales
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
      <div
        class="glass-card border hover:shadow-xl h-3/4 w-full p-8 md:p-16 hover:border-blue-500/30 rounded-lg pointer-events-none mt-16 mb-4 md:my-32 mx-auto"
      >
        <div
          class="w-16 h-16 bg-blue-600 text-[22px] text-white rounded-full animate-pulse shadow-xl flex items-center justify-center mb-6"
        >
          <i class="icon-[bx--qr] w-8 h-8" role="img" aria-hidden="true"></i>
        </div>
        <h3 class="text-2xl md:text-4xl font-semibold">Menú digital</h3>
        <p class="text-base md:text-xl text-gray-400 w-full md:w-3/4 md:mt-4">
          Acceso instantáneo vía QR para bares y restaurantes
        </p>
        <ul class="flex flex-col gap-2 text-gray-500 mt-4">
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Acceso rápido mediante código QR</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Diseño personalizado y adaptado a tu marca</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>100% adaptable a móviles</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Aumenta pedidos hasta un 40%</li>
          </div>
        </ul>
      </div>
      <div
        class="glass-card border hover:shadow-xl h-3/4 w-full p-8 md:p-16 hover:border-blue-500/30 rounded-lg pointer-events-none my-16 md:my-32 mx-auto"
      >
        <div
          class="w-16 h-16 bg-blue-600 text-[22px] text-white rounded-full animate-pulse shadow-xl flex items-center justify-center mb-6"
        >
          <i class="icon-[mdi--web] w-8 h-8" role="img" aria-hidden="true"></i>
        </div>
        <h3 class="text-2xl md:text-4xl font-semibold">Web emprendedores</h3>
        <p class="text-base md:text-xl text-gray-400 w-full md:w-3/4 md:mt-4">
          Presencia digital profesional que convierte
        </p>
        <ul class="flex flex-col gap-2 text-gray-500 mt-4">
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Catálogo interactivo de productos/servicios</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Galería de imágenes optimizada</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Integración directa con WhatsApp</li>
          </div>
          <div class="flex gap-2">
            <div
              class="w-1.5 h-1.5 rounded-full bg-blue-400 mt-3 flex-shrink-0 shadow-xl"
            >
            </div>
            <li>Conecta tus redes sociales</li>
          </div>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row gap-2 justify-center items-center mx-8"
    >
      <span class="text-gray-400 md:text-xl">No encuentras lo que buscas?</span>
      <a
        href="#contact"
        class="text-blue-500 hover:text-blue-400 underline underline-offset-2 cursor-pointer md:text-xl"
        >Consultanos por soluciones personalizadas</a
      >
    </div>
    <div class="mt-12 flex flex-col items-center justify-center">
      <h2 class="text-xl font-medium mb-2">Redes Sociales</h2>
      <div class="flex gap-4 mt-4">
        <a
          href="https://www.instagram.com/emprendev2.0"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="enlace a instagram"
        >
          <span
            class="icon-[skill-icons--instagram] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
        <a
          href="https://www.linkedin.com/in/arielstereo/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="enlace a linkedin"
        >
          <span
            class="icon-[skill-icons--linkedin] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
        <a
          href="mailto:emprendev2.0@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-900 dark:text-gray-100"
          aria-label="enlace a email"
        >
          <span
            class="icon-[entypo--email] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</section>
