<section
  class="bg-white dark:bg-blue-900 text-zinc-900 dark:text-white border-y border-black dark:border-gray-200 my-32"
>
  <div class="px-4 py-8">
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-8 md:col-start-3 text-center">
        <h2 class="text-2xl leading-tight md:text-6xl font-bold">
          Soluciones digitales que potencian tu emprendimiento
        </h2>
        <p class="md:text-lg mt-6 md:px-8 lg:px-20">
          Desarrollamos sitios web a medida para emprendedores y pequeños
          negocios, combinando diseño profesional, funcionalidad y precios
          accesibles. Da el salto digital y haz que tu proyecto destaque en
          Internet.
        </p>
      </div>
    </div>
    <div class="mt-12 flex flex-col items-center justify-center">
      <h2 class="text-xl font-medium mb-2">Redes Sociales</h2>
      <div class="flex gap-4 mt-4">
        <a
          href="https://www.instagram.com/emprendev2.0"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="enlace a instagram"
        >
          <span
            class="icon-[skill-icons--instagram] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
        <a
          href="https://www.linkedin.com/in/arielstereo/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="enlace a linkedin"
        >
          <span
            class="icon-[skill-icons--linkedin] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
        <a
          href="mailto:emprendev2.0@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-900 dark:text-gray-100"
          aria-label="enlace a email"
        >
          <span
            class="icon-[entypo--email] h-8 w-8 hover:animate-pulse"
            role="img"
            aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</section>
