---
import "animate.css";
---

<header class="flex flex-col items-center justify-center h-screen lg:flex-row pt-16">
  <div class="flex flex-col gap-8 text-center">
    <h1
      class="text-6xl xl:text-8xl text-slate-800 dark:text-slate-100 animate__animated animate__bounceInLeft animate__slow"
    >
      EmprenDev
    </h1>
    <h2
      class="text-lg md:text-2xl text-slate-600 dark:text-slate-300 animate__animated animate__fadeInUp animate__slower"
    >
      Desarrollo de páginas web para
      <br />
      <span
        class="text-lg md:text-2xl text-blue-600 animate__animated animate__fadeInUp animate__slower"
        >empredendores y Pymes</span
      >
    </h2>
    <a
      class="px-6 py-3 bg-blue-600 shadow-sm shadow-black transition duration-700 ease-in-out hover:-translate-x-1 hover:scale-105 w-fit text-slate-100 font-semibold rounded-xl text-lg md:text-xl mx-auto"
      href="#price">Empezar</a
    >
  </div>
  <img
    class="w-full h-[300px] pl-12 sm:pl-16 lg:h-[400px] xl:w-[700px] xl:h-[500px] animate__animated animate__fadeInDownBig animate__slower"
    src="/hero.png"
    alt="hero"
  />
</header>
