<div
  id="menu"
  class="py-6 sm:py-8 lg:py-12 mt-96 mb-32 md:mt-64 w-full lg:w-5/6"
>
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 mt-32 lg:mt-0">
    <div class="mb-4 flex items-center justify-center gap-8 sm:mb-8 md:mb-12">
      <div class="flex flex-col lg:flex-row items-center gap-8">
        <div class="flex gap-2 justify-center items-center">
          <h2
            class="text-2xl font-bold text-gray-800 dark:text-slate-100 lg:text-3xl"
          >
            Menu digital
          </h2>

          <img
            src="./logo_png.webp"
            class="md:flex h-16 w-16 rounded-full"
            alt="logo"
          />
        </div>
        <p class="max-w-screen-sm text-gray-500 dark:text-slate-300 md:block">
          <strong class="text-blue-600 dark:text-blue-300 font-semibold text-lg"
            >Menú Digital para tu Negocio.</strong
          >
          <br />
          Diseño y desarrollo de menús digitales personalizados. Ofrece a tus clientes
          una experiencia moderna y práctica: un menú digital al que pueden acceder
          fácilmente desde su mesa escaneando un código QR. Ideal para restaurantes,
          bares y comercios gastronómicos que buscan innovar y destacar. ¡Actualiza
          tu carta cuando quieras y mejora la atención al cliente!
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 justify-items-center">
      <a
        href="https://menu-qr-psi.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./tapeo_celu.png"
          loading="lazy"
          alt="menu"
          class="h-96 w-fit object-cover object-center transition duration-200 hover:scale-110 cursor-pointer"
        />
      </a>
      <a
        href="https://menu-qr-psi.vercel.app/bebidas"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./tapeo2.png"
          loading="lazy"
          alt="menu"
          class="h-96 w-fit object-cover object-center transition duration-200 hover:scale-110 cursor-pointer border border-gray-400 dark:border-slate-700 rounded-lg shadow-lg hover:shadow-xl"
        />
      </a>
    </div>
  </div>
</div>
