<nav class="py-4 px-16 hover:py-8 fixed top-0 z-50 w-full bg-white shadow-sm shadow-slate-300 transition-all">
  <div class="flex items-center justify-center lg:justify-between px-8">
    <a href="#" class="hidden lg:flex md:gap-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 256 256"
        ><path
          fill="#000"
          d="M71.68 97.22L34.74 128l36.94 30.78a12 12 0 1 1-15.36 18.44l-48-40a12 12 0 0 1 0-18.44l48-40a12 12 0 0 1 15.36 18.44m176 21.56l-48-40a12 12 0 1 0-15.36 18.44L221.26 128l-36.94 30.78a12 12 0 1 0 15.36 18.44l48-40a12 12 0 0 0 0-18.44M164.1 28.72a12 12 0 0 0-15.38 7.18l-64 176a12 12 0 0 0 7.18 15.37a11.79 11.79 0 0 0 4.1.73a12 12 0 0 0 11.28-7.9l64-176a12 12 0 0 0-7.18-15.38"
        ></path></svg
      >
      <span class="text-black pt-3 text-lg"> EmprenDev</span>
    </a>
    <ul class="flex gap-4 md:gap-16">
      <li class="font-semibold text-xl">
        <a class="lg:hidden text-slate-950 text-base hover:text-sky-400" href="#">Inicio</a>
      </li>
      <li class="font-semibold text-xl">
        <a class="text-slate-950 text-base hover:text-sky-400" href="#features">Beneficios</a>
      </li>
      <li class="font-semibold text-xl">
        <a class="text-slate-950 text-base hover:text-sky-400" href="#price">Precios</a>
      </li>
      <li class="font-semibold text-xl hidden md:block">
        <a class="text-slate-950 text-base hover:text-sky-400" href="#landing">Landing</a>
      </li>
      <li class="font-semibold text-xl hidden md:block">
        <a class="text-slate-950 text-base hover:text-sky-400" href="#website">Website</a>
      </li>
      <li class="font-semibold text-xl">
        <a class="text-slate-950 text-base hover:text-sky-400" href="#contact">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
