<div class="fixed top-0 z-50 bg-indigo-400 w-full lg:hidden">
  <nav
    class="sticky bottom-0 mx-auto flex w-full justify-between gap-8 px-6 pt-5 pb-3 text-xs shadow-md shadow-black"
  >
    <a href="#" class="flex flex-col items-center gap-1 text-slate-100">
      <span class="icon-[famicons--home] h-6 w-6" role="img" aria-hidden="true"></span>
      <span>Inicio</span>
    </a>

    <a
      href="#events"
      class="flex flex-col items-center gap-1 text-slate-100 transition duration-100"
    >
    <span class="icon-[mdi--web] h-6 w-6" role="img" aria-hidden="true"></span>
      <span>Web</span>
    </a>

    <a
      href="#price"
      class="flex flex-col items-center gap-1 text-slate-100 transition duration-100"
    >
    <span class="icon-[carbon--pricing-consumption] h-6 w-6" role="img" aria-hidden="true"></span>

      <span>Precios</span>
    </a>

    <a
      href="#contact"
      class="flex flex-col items-center gap-1 text-slate-100"
    >
    <span class="icon-[ri--contacts-fill] h-6 w-6" role="img" aria-hidden="true"></span>
      <span>Contacto</span>
    </a>
  </nav>
</div>
