<section id="price" class="py-6 sm:py-8 lg:py-12 h-screen">
  <div
    class="mx-auto max-w-screen-md px-8 mt-32 lg:mt-0 border-b border-slate-200 dark:border-slate-700"
  >
    <div class="flex gap-2 justify-center items-center mb-4 md:mb-6 mt-8">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-slate-100 lg:text-3xl"
      >
        Elige tu página
      </h2>
      <img
        src="./logo_png.webp"
        class="md:flex h-16 w-16 rounded-full"
        alt="logo"
      />
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4 sm:gap-0">
      <div
        class="w-full rounded-lg bg-gray-800 dark:bg-slate-50 p-6 sm:w-1/2 sm:p-8 lg:w-1/2 transition hover:scale-105"
      >
        <div
          class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row"
        >
          <div>
            <h3
              class="text-2xl font-semibold text-gray-100 dark:text-slate-700 sm:text-3xl"
            >
              Menu digital
            </h3>
            <p class="text-blue-500">Para tu comercio</p>
          </div>
          <span
            class="order-first inline-block rounded-full bg-yellow-300 bg-opacity-80 animate-bounce px-3 py-1 text-xs font-semibold uppercase tracking-wider text-slate-800 lg:order-none"
            >Nuevo!</span
          >
        </div>

        <div class="mb-4 flex flex-col items-start gap-2">
          <span
            class="text-3xl lg:text-4xl font-bold text-gray-100 dark:text-slate-800"
            >$45.000</span
          >
          <span class="text-gray-100 dark:text-gray-900"
            >Diseño y desarrollo</span
          >
        </div>

        <ul class="mb-6 space-y-2 text-gray-300 dark:text-slate-700">
          <li class="flex items-center gap-1.5">
            <span
              class="icon-[material-symbols--check-circle]"
              role="img"
              aria-hidden="true"></span>
            <span>Acceso al menú digital por QR</span>
          </li>

          <li class="flex items-center gap-1.5">
            <span
              class="icon-[material-symbols--check-circle]"
              role="img"
              aria-hidden="true"></span>
            <span>3 secciones o páginas</span>
          </li>
          <li class="flex items-center gap-1.5">
            <span
              class="icon-[material-symbols--check-circle] role="
              img"
              aria-hidden="true"
              "></span>
            <span>Diseño para celulares y pc</span>
          </li>
          <li class="flex items-center gap-1.5">
            <span
              class="icon-[material-symbols--check-circle]"
              role="img"
              aria-hidden="true"></span>
            <span>Mantenimiento por $10.000 *</span>
          </li>
        </ul>

        <a
          href="#menu"
          role="button"
          aria-label="Ver más detalles sobre webs para eventos"
          class="block rounded-lg bg-gray-200 dark:bg-gray-900 px-8 py-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 outline-none transition duration-100 hover:bg-gray-400 dark:hover:bg-gray-700 focus-visible:ring active:text-gray-300 md:text-base"
        >
          Ver más
        </a>
      </div>
      <div
        class="w-full rounded-lg bg-gradient-to-tr from-blue-700 to-sky-400 p-6 shadow-xl sm:w-1/2 sm:p-8 transition hover:scale-105 relative lg:right-4"
      >
        <div class="mb-4">
          <div>
            <h3 class="text-2xl font-semibold text-white sm:text-3xl">
              Web Emprendedor
            </h3>
            <p class="text-yellow-300">Para tu negocio</p>
          </div>
        </div>

        <div class="mb-12">
          <div class="mb-4 flex flex-col items-start gap-2">
            <span class="text-3xl lg:text-4xl font-bold text-gray-100"
              >$70.000</span
            >
            <span class="text-gray-100">Diseño y desarrollo</span>
          </div>
          <div>
            <ul class="my-6 space-y-2 text-blue-100">
              <li class="flex items-center gap-1.5">
                <span
                  class="icon-[material-symbols--check-circle]"
                  role="img"
                  aria-hidden="true"></span>
                <span>Detalle de productos</span>
              </li>
              <li class="flex items-center gap-1.5">
                <span
                  class="icon-[material-symbols--check-circle]"
                  role="img"
                  aria-hidden="true"></span>
                <span>Imágenes</span>
              </li>

              <li class="flex items-center gap-1.5">
                <span
                  class="icon-[material-symbols--check-circle]"
                  role="img"
                  aria-hidden="true"></span>
                <span>Redes sociales</span>
              </li>
              <li class="flex items-center gap-1.5">
                <span
                  class="icon-[material-symbols--check-circle]"
                  role="img"
                  aria-hidden="true"></span>
                <span>Botón de Whatsapp</span>
              </li>
              <li class="flex items-center gap-1.5">
                <span
                  class="icon-[material-symbols--check-circle]"
                  role="img"
                  aria-hidden="true"></span>
                <span>Mantenimiento por $15.000 *</span>
              </li>
            </ul>
            <a
              href="#web"
              role="button"
              aria-label="Ver más detalles sobre webs para emprendedores"
              class="block rounded-lg bg-black dark:bg-slate-100 dark:hover:bg-slate-200 bg-opacity-50 px-8 py-3 text-center text-sm font-semibold text-white dark:text-black outline-none transition duration-100 hover:bg-slate-700 md:text-base"
            >
              Ver más
            </a>
          </div>
        </div>
      </div>
      <span
        class="text-sm md:text-base text-center font-semibold text-slate-500 dark:text-slate-50 my-4 md:my-16"
        >* El mantenimiento es opcional y se realiza una vez al mes.
        <br />
        Solo se abona cuando se requiere una actualización o cambio en la web.</span
      >
    </div>
  </div>
</section>
