---
import CardPrice from "./CardPrice";
---

<section
  id="price"
  class="flex flex-col lg:flex-row gap-6 lg:gap-32 pt-20 md:my-32 justify-center items-center w-full xl:h-screen"
>
  <CardPrice
    client:load
    animation="zoom-in-down"
    price="$80000"
    title="Emprendedor"
    description="Web de una sola página"
    href="#landing"
    subtitle="Ideal para potenciar tu empredimiento y destacar tus productos o servicios."
    check1="Hasta 5 secciones"
  />
  <CardPrice
    client:load
    animation="zoom-in-up"
    price="$95000"
    title="Pymes"
    description="Sitio web con hasta 4 páginas"
    href="#website"
    subtitle="Perfecto para comercios, posiciona tu marca y aumenta tus ventas. "
    check1="Menú de navegación"
  />
</section>
