---
import CardPrice from "../components/CardPrice.astro";
---
  
  <section id="price" class="flex flex-col lg:flex-row gap-6 lg:gap-32 pt-20 justify-center items-center w-full h-full xl:h-screen">
    <CardPrice price="$75000" title="Emprendedor" description="Web de una sola página" href="#landing" subtitle="Ideal para potenciar tu empredimiento y destacar tus productos o servicios." check1="4 secciones" />
    <CardPrice price="$90000" title="Pymes" description="Sitio web con 4 páginas" href="#website" subtitle="Perfecto para comercios, posiciona tu marca y aumenta tus ventas. " check1="Menú de navegación"/>
  </section>
