<div
  id="web"
  class="sm:py-8 lg:py-12 w-full h-full mt-32 md:mt-64 md:w-5/6 mb-16"
>
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 mb-32">
    <div class="flex flex-col justify-center items-center mb-6">
      <div class="flex gap-2 justify-center items-center">
        <h2
          class="text-center text-2xl font-bold text-gray-800 dark:text-gray-300 lg:text-3xl mb-6"
        >
          Web Emprendedores
        </h2>

        <img
          src="./logo_png.webp"
          class="md:flex h-16 w-16 rounded-full mb-4"
          alt="logo"
        />
      </div>

      <p class="text-blue-600 dark:text-blue-300 font-semibold text-lg">
        Impulsa tu negocio con una página web profesional.
      </p>
      <p class="text-gray-500 dark:text-gray-300 w-full lg:w-[500px]">
        Con nuestra solución personalizada, creamos páginas web diseñadas para
        emprendedores y comercios que buscan destacar en el mundo digital a bajo
        costo. Cada sitio está pensado para ayudarte a conectar con tus clientes
        y alcanzar tus metas comerciales.
      </p>
    </div>

    <div
      class="mb-4 grid grid-cols-1 md:grid-cols-3 gap-4 md:mb-8 md:gap-6 xl:gap-8 justify-items-center"
    >
      <a
        href="https://website-ariel-martinezs-projects.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="group relative w-full flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
      >
        <img
          src="./website.webp"
          loading="lazy"
          alt="home page"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>
        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Home Design</span
        >
      </a>
      <a
        href="https://beauty-spa-ivory.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="group relative flex w-full h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
      >
        <img
          src="./beauty.jpeg"
          loading="lazy"
          alt="producto"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>
        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Beauty Spa</span
        >
      </a>
      <a
        href="https://coki-pet.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="group relative flex w-full h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
      >
        <img
          src="./pet.jpeg"
          loading="lazy"
          alt="landing page"
          class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
        />
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
        >
        </div>
        <span
          class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
          >Coki Pet</span
        >
      </a>
    </div>
  </div>
</div>
