---
const { title } = Astro.props;
import "@fontsource-variable/orbitron";
import "@fontsource/kanit";
import "@fontsource/paytone-one";
import "@fontsource-variable/rubik";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="qGCnmT790OHmqDOzts3TDjYJ0jSRQRscQHJHb_hSeIM"
    />
    <meta
      name="description"
      content="Desarrollo y diseño de páginas web profesionales para emprendedores, pymes y pequeños negocios. Aumenta tu presencia online y atrae más clientes con un sitio web moderno y personalizado."
    />
    <meta
      name="keywords"
      content="desarrollo web, diseño web, páginas web, emprendedores, pymes, pequeños negocios, sitios web, presencia online"
    />
    <meta name="author" content="EmprenDev" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }

  a,
  span,
  button {
    font-family: "Orbitron Variable", sans-serif;
  }
  p,
  label {
    font-family: "Kanit", sans-serif;
  }
  h1,
  h2 {
    font-family: "Paytone One", sans-serif;
  }
  h3 {
    font-family: "Rubik Variable", sans-serif;
  }
</style>
